////////////////////////////////////////////////////////////////////////////////
// Field Edit
////////////////////////////////////////////////////////////////////////////////

@mixin opensans($weight: 300, $style: normal){
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
  font-style: $style;
}

.alc-field-editable{
  position:relative;
  min-height:rem-calc(50);

  .alc-fe{

    .alc-fe-outline{
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      width:100%;
      height:100%;
      z-index:999;
      display:none;
      border:1px dotted rgba(#000, .8);
      background:rgba(#fff, .2);
    }

    &.active{
      .alc-fe-outline{
        display:block;
      }
    }

    &.dark{
      .alc-fe-outline{
        background:rgba(#000, .1);
        border-color:rgba(#000, .1);
      }
      .alc-fe-toolbar{
        background-color: #3f3f3f;
        @include box-shadow(0px 0px 8px rgba(#000, .4));
        .alc-fe-link{
          color:#e6e6e6;
          text-shadow:0px -1px 0px #000;
        }
        &.tool-top .arrow {
          border-color: #3f3f3f transparent transparent;
        }
        &.tool-bottom .arrow {
          border-color: transparent transparent #3f3f3f;
        }
        &.tool-left .arrow {
          border-color: transparent transparent transparent #3f3f3f;
        }
        &.tool-right .arrow {
          border-color: transparent #3f3f3f transparent transparent;
        }
      }
    }
  }

  .alc-fe-toolbar{
    position:absolute;
    z-index:1000;
    right:0;
    top:rem-calc(-2);
    background-color: #e9e5e5;
    @include box-shadow(0px 0px 8px rgba(#000, .7));
    border-radius: 3px;
    background-size: 100% 100%;
    padding:rem-calc(5 3 3 6);
    font-size:rem-calc(18);
    line-height:rem-calc(18);

    .alc-fe-link{
      color:#555b5c;
      text-shadow:0px 1px 0px #fff;
      font-family: Helvetica, Arial, Sans-Serif;
      font-size:rem-calc(11);
      line-height:rem-calc(14);
      display:block;
      text-transform: uppercase;
      text-decoration: none;
      @include transition(all 0.75s);

      i{
        font-size:rem-calc(14);
      }

      &:hover{
        color:#000;
      }
    }

    &.padding{
      right:rem-calc(10);
      top:rem-calc(10);
    }

    &.tool-top, &.tool-bottom {
      height: 34px;
      border-bottom: 1px solid #beb8b8;
      /* #B1A9A9 */
    }
    .arrow {
      width: 0;
      height: 0;
      position: absolute;
      border-width: 7px;
      border-style: solid;
    }
    &.tool-top .arrow {
      border-color: #e9e5e5 transparent transparent;
      left: 50%;
      bottom: -14px;
      margin-left: -7px;
    }
    &.tool-bottom .arrow {
      border-color: transparent transparent #e9e5e5;
      left: 50%;
      top: -14px;
      margin-left: -7px;
    }
    &.tool-left .arrow {
      border-color: transparent transparent transparent #E9E5E5;
      top: 50%;
      right: -14px;
      margin-top: -7px;
    }
    &.tool-right .arrow {
      border-color: transparent #E9E5E5 transparent transparent;
      top: 50%;
      left: -14px;
      margin-top: -7px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Global Form
////////////////////////////////////////////////////////////////////////////////

#alchemist-page-form{
  position:relative;
  // position:fixed;
  // left:0;
  // right:0;
  // bottom:0;
  width:100%;
  z-index:1000;
  background:#1c1f21;
  padding:rem-calc(10);
  @include box-shadow(0px 0px 8px rgba(#000, .3));
  text-align:right;

  .alc-edit{
    float:left;
  }

  button, button.button, a.button{
    vertical-align: middle;
    display:inline-block;
    margin:0;
    border-radius:rem-calc(3);
    background:#0997c3;
    color:#fff;
    padding:rem-calc(0 10);
    font-size:rem-calc(12);
    line-height:rem-calc(40);
    font-weight:300;
    text-shadow:0px -1px 0px #026788;
    @include box-shadow(0px 0px 4px rgba(#000, .2));
    @include transition(all 0.75s);
    border-top:1px solid #28b7e5;

    &.secondary{
      background-color: #e9e5e5;
      color:#555b5c;
      text-shadow:0px 1px 0px #fff;
      border-top:1px solid #fff;
    }

    &:hover{
      background:#28b7e5;

      &.secondary{
        background: #bfbfbf;
      }
    }

    i{
      font-size:rem-calc(28);
      vertical-align: middle;
      padding-right:rem-calc(5);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Edit Link
////////////////////////////////////////////////////////////////////////////////

// #alc-edit{
//   // position:absolute;
//   // top:rem-calc(10);
//   // left:rem-calc(10);
//   // z-index:1000;
//   // width:rem-calc(50);
//   // height:rem-calc(50);
//   // text-align: center;

//   a{
//     display:block;
//     background:#fff;
//     text-align: center;
//     border-radius: rem-calc(25);
//     color:#555b5c;
//     text-shadow:0px 1px 0px #fff;
//     font-family: Helvetica, Arial, Sans-Serif;
//     text-decoration: none;
//     background-color: #e9e5e5;
//     @include box-shadow(0px 0px 8px rgba(#000, .7));
//     border-radius: rem-calc(3);
//     @include transition(all 0.75s);

//     i{
//       display:block;
//       font-size:rem-calc(40);
//       line-height:rem-calc(50);
//     }

//     &:hover{
//       color:#000;
//     }
//   }
// }

.quickbar-enabled #alc-edit{
  top:rem-calc(60);
}


////////////////////////////////////////////////////////////////////////////////
// Inline Editable
////////////////////////////////////////////////////////////////////////////////
.alc-editable{
  min-height: rem-calc(50);
  cursor: text;
  opacity: .5;
  pointer-events: none;

  &.cke_editable,
  &.alc-title{
    opacity: 1;
    pointer-events: auto;
  }

  &, &:focus{
    outline: 0px none;
  }

  &.alc-title{
    text-align: center;

    &:empty:not(:focus):before{
      content:attr(data-ph);
      color:#7f7f7f;
    }
  }

  &.cke_editable.cke_editable_inline{
    cursor: text;
  }

  &.cke_editable.cke_editable_inline.cke_focus{
    outline: none;
    border-style:none;
  }
}


////////////////////////////////////////////////////////////////////////////////
// Toolbar
////////////////////////////////////////////////////////////////////////////////

#alchemist-top,
#alchemist-bottom{
  z-index:100;
}

#alchemist-top{
  position:absolute;
  display:none;
  top:0;
  left:0;

  &.active{
    display:block;
    animation:fadeIn .3s 1;
  }

  .cke_chrome{
    border:none;
  }

  .cke_inner{
    background:none;
  }

  .cke_top{
    // border:none;
    padding: 6px 2px 2px 8px;
    border-radius:5px;
  }
}

@include keyframes(fadeIn) {
  from {
    @include transform(scale(.5));
    opacity:0;
  }
  to {
    @include transform(scale(1));
    opacity:1;
  }
}

#alchemist-bottom{
  position:fixed;
  bottom:0;
  left:0;
  right:0;

}


////////////////////////////////////////////////////////////////////////////////
// Modal
////////////////////////////////////////////////////////////////////////////////

// #alchemist-modal-shadow{
//   display:none;
//   position:fixed;
//   top:0;
//   left:0;
//   width:100%;
//   height:100%;
//   background:rgba(#000, .7);
//   z-index:1000;

//   &.active{
//     display:block;
//   }
// }

// #alchemist-modal{
//   display:none;
//   // background:rgba(#fff, .2);
//   // padding:rem-calc(10);
//   max-width:$row-width;
//   min-width:rem-calc(400);
//   position:absolute;
//   top:0;
//   left:0;
//   z-index:1010;
//   @include box-shadow(0 0 5px rgba(#000, .4));

//   &.active{
//     display:block;
//     animation:fadeIn .3s 1;
//   }

//   #alchemist-modal-title{
//     background:#f3f3f3;
//     font-size:rem-calc(16);
//     text-transform: uppercase;
//     font-weight:300;
//     padding:rem-calc(0 20);
//     line-height:rem-calc(35);
//     color:#7f7f7f;
//     text-shadow:0 0 1px #fff;
//   }

//   #alchemist-modal-close{
//     position:absolute;
//     right:rem-calc(0);
//     top:rem-calc(0);
//     width:rem-calc(35);
//     height:rem-calc(35);
//     // background:red;
//     z-index:10;
//     text-align: center;

//     &:before {
//       content: "\f00d";
//       font-family: FontAwesome;
//       color: #a03b32;
//       line-height:rem-calc(35);
//     }

//     &:hover{
//       &:before {
//         color:#d24d42;
//       }
//     }
//   }

//   #alchemist-modal-content{
//     padding:rem-calc(20);
//     background:rgba(#fff, .98);
//     // overflow:auto;
//     // max-width:$row-width;
//     // position:relative;

//     fieldset{
//       // margin:0;
//       padding:0;

//       legend{
//         background:#fafbfb;
//       }

//       .fieldset-wrapper{
//         margin:rem-calc(10 15 15);
//       }
//     }
//   }
// }

////////////////////////////////////////////////////////////////////////////////
// Assets Form
////////////////////////////////////////////////////////////////////////////////

#alchemist-asset-form{
  // margin-bottom:rem-calc(60);
  min-width:rem-calc(600);

  table{
    width:100%;
  }

  .asset-inline-entity-browser{
    background:#404040;
    padding:20px;
  }

  .asset-grid-items{

    .asset-grid-wrapper{
      position:relative;

      & > .ief-entity-operations{
        position:absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        width:100%;
        height:100%;
        opacity:0;
        // @include transition(opacity 200ms ease-in-out 0s);

        button{
          display:block;
          margin:0;
          width:50%;
          height:100%;
          position:absolute;
          opacity:.4;
          @include transition(opacity 200ms ease-in-out 0s);
          text-transform: uppercase;
          font-size:rem-calc(20);
          font-weight:300;
          text-shadow: 0 1px 0 #fff;

          &.asset-grid-item-edit{
            top:0;
            left:0;
          }

          &.asset-grid-item-remove{
            top:0;
            right:0;
          }

          &:hover{
            opacity:.8;
          }
        }
      }

      &:hover{
        & > .ief-entity-operations{
          opacity:1;
        }
      }
    }

  }

  button{
    margin:0;
    border-radius: 0;
  }

  #edit-submit,
  .asset-grid-actions{
    // position:absolute;
    // bottom:0;
    // left:0;
    // right:0;
    display:block;
    width:100%;
    margin:0;
  }

  #edit-submit,
  .asset-grid-actions button{
    display:block;
    width:100%;
    padding:rem-calc(10 0);
    font-weight:100;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .asset-grid-actions button{
    font-size:rem-calc(20);
  }

  #edit-submit,
  .asset-grid-actions-large button:not(.tiny){
    font-size:rem-calc(30);
  }

  .asset-grid-actions-half button{
    width:50%;
    float:left;
    @include clearfix();
  }
}

////////////////////////////////////////////////////////////////////////////////
// Assets Bar
////////////////////////////////////////////////////////////////////////////////

#alchemist-assets{
  position:absolute;
  z-index:100;
  top:0;
  left:0;
  color:#fff;
  display:none;
  line-height:36px;

  &.active{
    display:block;
    animation:fadeIn .3s 1;
  }

  a{
    background:#3f3f3f;
    color:#fff;
    display:inline-block;
    width:36px;
    height:36px;
    text-align: center;
    border-radius: 18px;
    @include box-shadow(0 0 5px #fff);
  }

  #alchemist-assets-toggle{
    font-size:16px;
    // @include transition(* 200ms ease-in-out 0s);
    @include transform(rotate(0deg));
    animation:rotateOut .3s 1;
  }

  #alchemist-assets-content{
    display:none;
  }

  &.show{

    #alchemist-assets-toggle{
      @include transform(rotate(45deg));
      animation:rotateIn .3s 1;
    }

    #alchemist-assets-content{
      animation:fadeIn .3s 1;
      padding: 0 10px;
      display:inline-block;

      a{
        font-size:13px;
        margin:0 2px;
      }
    }

  }
}

@include keyframes(rotateIn) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(45deg));
  }
}

@include keyframes(rotateOut) {
  from {
    @include transform(rotate(45deg));
  }
  to {
    @include transform(rotate(0deg));
  }
}


////////////////////////////////////////////////////////////////////////////////
// Panel
////////////////////////////////////////////////////////////////////////////////

html,
body{
  overflow:hidden;
}

html,
body,
.alc-panel,
.alc-pusher,
.alc-content {
  height: 100%;
}

.alc-content {
  overflow-y: auto;
  background: #f3efe0;
}

.alc-content,
.alc-content-inner {
  position: relative;
}

.alc-panel {
  position: relative;
  overflow: hidden;
}

.alc-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  @include transition(transform 0.75s);
}

.alc-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.4);
  content: '';
  opacity: 0;
  @include transition(opacity 0.75s, width 0.1s 0.75s, height 0.1s 0.75s);
  z-index:2000;
}

.alc-region-open .alc-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  @include transition(opacity 0.75s);
}

.alc-region {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  visibility: hidden;
  width: rem-calc(600);
  height: 100%;
  background: #353a3d;
  @include transition(all 0.75s);
  // overflow-y:auto;
  @include opensans();
  color:#f3f3f3;

  &.mCS_disabled{
    .mCustomScrollBox,
    .mCSB_container{
      overflow:visible;
    }
  }

  .mCSB_inside > .mCSB_container{
    margin-right:rem-calc(0);
  }

  .alc-region-inner{
    padding:rem-calc(15);
    // margin:rem-calc(5);
    // background: #333333;
  }

  .alc-region-content{
  }

  .alc-region-title{
    font-size:rem-calc(20);
    text-transform: uppercase;
    font-weight:700;
    text-align: center;
    line-height:rem-calc(20);
    padding-bottom:rem-calc(20);
    color:#fff;
    text-shadow:0 1px 5px #000;

    span{
      font-weight:300;
    }
  }

  a{
    color:#0997c3;

    &:hover{
      color:#28b7e5;
    }
  }

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
    background:#23272a;
    @include box-shadow(inset 1px 1px 4px 0px rgba(0,0,0,0.25));
    color:#fff;
    border:none;
  }

  select{
    background:#23272a;
    @include box-shadow(inset 1px 1px 4px 0px rgba(0,0,0,0.25));
    color:#fff;
    border:none;
  }

  button, button.button, a.button{
    margin:0;
    border-radius:rem-calc(3);
    background:#0997c3;
    color:#fff;
    padding:rem-calc(5 10);
    font-size:rem-calc(12);
    font-weight:300;
    @include box-shadow(0px 0px 4px rgba(#000, .2));
    @include transition(all 0.75s);
    border-top:1px solid #28b7e5;

    &:hover{
      background:#28b7e5;
    }

    &.expand{
      border-radius:0;
      padding:rem-calc(10 20);
      font-size:rem-calc(14);
      font-weight:400;
    }
  }

  fieldset.form-wrapper{
    border:none;
    padding:0;
    margin:rem-calc(0 0 10);
    background: #2b2f32;
    @include box-shadow(inset 1px 1px 4px 0px rgba(0,0,0,0.25));
    position:relative;
    padding-top:rem-calc(35);

    legend{
      background:none;
      padding:0;
      width:100%;
      margin:0;
      position:absolute;
      top:0;
      left:0;

      .fieldset-legend,
      a{
        color:#cccccc;
        font-size:rem-calc(13);
        line-height:rem-calc(13);
        font-weight:300;
        text-transform: uppercase;
      }

      a{
        color:#0997c3;

        &:hover{
          color:#28b7e5;
        }
      }

      .summary{
        font-size:rem-calc(11);
        line-height:rem-calc(13);
        font-weight:300;
      }
    }

    a.tabledrag-toggle-weight{
      color:#7f7f7f;
      font-size:rem-calc(11);
      text-transform: uppercase;
      // margin-top:rem-calc(-11);
      display:block;
      text-align: right;
    }

    table{
      width:100%;
      margin:0;
      background:#2b2f32;
      border:none;
      color:#f3f3f3;

      img{
        border:1px solid #808487;
        @include box-shadow(0px 0px 4px rgba(#000, .2));
      }

      thead{
        background:none;

        tr{
          th{
            border:none;
            font-weight:300;
            font-size:rem-calc(12);
            color:#e6e6e6;
            text-transform: uppercase;
          }
        }
      }

      tbody{
        background:#3b4043;
        border:none;

        tr.odd,
        tr.even,
        tr:nth-of-type(2n){
          background:none;
          border:none;
        }

        tr{
          td{
            color:#fff;
            border:none;
          }
        }
      }
    }

    .fieldset-wrapper{
      // background: #282b2e;
      padding:0;
      margin:rem-calc(0 0 0);

      .form-item{
        margin:rem-calc(0 0 10);
      }
    }

    &.collapsible{
      legend{
        padding:rem-calc(10 0);
      }

      .fieldset-wrapper{
        padding:rem-calc(0 10 10);
      }
    }
  }

  .form-wrapper{
    background: #2b2f32;
    @include box-shadow(inset 1px 1px 4px 0px rgba(0,0,0,0.25));
    padding:rem-calc(10);
    margin:rem-calc(0 0 10);

    fieldset.form-wrapper{
      margin:0;
    }

    // Form wrappers within form wrappers
    .form-wrapper{
      background:none;
      padding:0;
      margin:0;
      @include box-shadow(none);
    }

    .ief-form-row{
      padding:rem-calc(10);
      border:none;
      background:#333333;
    }

    .chosen-container{
      color:#3f3f3f;
    }

    &.form-actions{
      background:none;
      padding:0;
      margin:0;
    }

    .form-item{
      margin:0;

      label{
        font-weight:700;
        font-size:rem-calc(15);
        color:#fff;
        text-transform: uppercase;
      }

      label.option{
        font-size:rem-calc(13);
        font-weight:300;
        color:#e6e6e6;
        text-transform: none;
      }

      .description{
        color:#0997c3;
        font-size:rem-calc(11);
      }
    }
  }
}

.alc-region::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  content: '';
  opacity: 1;
  @include transition(opacity 0.75s);
}

.alc-region-open .alc-region::after {
  width: 0;
  height: 0;
  opacity: 0;
  @include transition(opacity 0.75s, width 0.1s 0.75s, height 0.1s 0.75s);
}

.alc-overflow{
  overflow-y:auto;
}


/* Individual effects */

/* Effect Left: Scale down pusher */

.alc-effect-left.alc-region-open .alc-pusher {
  -webkit-transform: translate3d(rem-calc(600), 0, 0);
  transform: translate3d(rem-calc(600), 0, 0);
}

#alc-region-left {
  overflow-y:auto;
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);

  // button.expand{
  //   position:absolute;
  //   bottom:0;
  //   left:0;
  //   right:0;
  //   width:100%;
  // }
}

.alc-effect-left.alc-region-open #alc-region-left {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#alc-region-left::after {
  display: none;
}




/* Effect Top: Scale down pusher */

.alc-effect-top.alc-panel {
  @include perspective(1500px);
}

.alc-effect-top .alc-pusher {
  @include transform-style(preserve-3d);
  // @include transform-origin(50% 100%);
}

.alc-effect-top.alc-region-open .alc-pusher {
  // @include transform(translate3d(0, 0, rem-calc(-200)) rotateX(10deg));
  @include transform(translate3d(0, 0, rem-calc(-200)));
}

#alc-region-top {
  width:100%;
  height:auto;
  max-height:100%;
  opacity: 1;
  @include transform(translate3d(0, -100%, 0));
}

.alc-effect-top.alc-region-open #alc-region-top {
  visibility: visible;
  @include box-shadow(0 5px 20px rgba(#000, .5));
  @include transform(translate3d(0, 0, 0));
}

#alc-region-top::after {
  display: none;
}



/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .alc-pusher,
.no-js .alc-pusher {
  padding-left: rem-calc(600);
}

